@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hamburger CSS */
label {
  display: flex;
  flex-direction: column;
  width: 70px;
  cursor: pointer;
}

label span {
  background: #fff;
  border-radius: 10px;
  height: 7px;
  margin: 7px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

span:nth-of-type(1) {
  width: 50%;
}

span:nth-of-type(2) {
  width: 100%;
}

span:nth-of-type(3) {
  width: 75%;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(8px, 0px);
}

input[type="checkbox"]:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}

input[type="checkbox"]:checked ~ span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(30px, -11px) rotatez(45deg);
}
/*  
 .headerNav:hover ul{
  display: block;
 } */

.sidebaractive {
  display: flex;
  width: auto;
  transition: all 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
}

.headerNav:nth-child(6) {
  background-color: red;
}

.imgFunSrc {
  width: 100px !important;
  height: 77px !important;
  /* background-color: red; */
}

/* ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo */
/* NavBar CSS */
#nav {
  /* background-color: red; */
  width: 100%;
}

/* ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo */

/* Main Slider Things */
.post_gallery_play {
  height: 500px;
  position: relative;
  z-index: 10;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: flex-end;
  /* border-radius:10px; */
  /* background-image: url("https://images.unsplash.com/photo-1610450294178-f1e30562db21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"); */

  background-image: url("../public/assets/images/gallery-post.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.post_gallery_play .bg-image {
  /* background-image: url("../public/assets/images/gallery-post.jpg"); */
  left: 0;
  top: 0;
  z-index: -1;
}
.post_gallery_play .bg-image::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 300px;
  width: 100%;
  background: linear-gradient(rgba(23, 34, 43, 0) 0%, #17222b 100%);
  opacity: 0.85;
}
.post_gallery_play .post__gallery_play_content {
  padding-left: 40px;
  padding-bottom: 21px;
  color: #fff;
  font-weight: 400;
  padding-right: 30px;
}
@media (max-width: 767px) {
  .post_gallery_play .post__gallery_play_content {
    padding-left: 20px;
    padding-bottom: 6px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .post_gallery_play .post__gallery_play_content {
    padding-left: 40px;
    padding-bottom: 21px;
  }
}
.post_gallery_play .post__gallery_play_content .post-meta {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
.post_gallery_play .post__gallery_play_content .post-meta .meta-categories a {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}
.post_gallery_play .post__gallery_play_content .post-meta .meta-date {
  padding-left: 32px;
  position: relative;
  font-size: 14px;
}
.post_gallery_play .post__gallery_play_content .post-meta .meta-date::before {
  position: absolute;
  content: "";
  left: 15px;
  top: 50%;
  transform: translateY(-50%) rotate(40deg);
  width: 2px;
  height: 15px;
  /* background: #fff; */
  border-radius: 30px;
}
.post_gallery_play .post__gallery_play_content .title {
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 3px;
  font-weight: 700;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .post_gallery_play .post__gallery_play_content .title {
    font-size: 28px;
    line-height: 38px;
  }
}
@media (max-width: 767px) {
  .post_gallery_play .post__gallery_play_content .title {
    font-size: 20px;
    line-height: 30px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .post_gallery_play .post__gallery_play_content .title {
    font-size: 24px;
    line-height: 34px;
  }
}
.post_gallery_play .post__gallery_play_content .title a {
  color: #fff;
}
.post_gallery_play .post__gallery_play_content .title a:hover {
  color: #1091ff;
}
.post_gallery_play .post_play_btn {
  position: absolute;
  right: 15px;
  top: 15px;
}
.post_gallery_play .post_play_btn a {
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  /* background: #ff5555; */
  color: #fff;
  border-radius: 50%;
  display: inline-block;
}
.post_gallery_play.post_gallery_play-2 {
  height: 450px;
  border-radius: 7px;
  overflow: hidden;
}
.post_gallery_play.post_gallery_play-2 .bg-image {
  background-image: url("../public/assets/images/gallery-post-2.jpg");
}
.post_gallery_play.post_gallery_play-2 .post__gallery_play_content {
  padding-left: 30px;
  padding-right: 20px;
}
@media (max-width: 767px) {
  .post_gallery_play.post_gallery_play-2 .post__gallery_play_content {
    margin-bottom: 30px;
  }
}
.post_gallery_play.post_gallery_play-2 .post__gallery_play_content .title {
  font-size: 30px;
  line-height: 40px;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .post_gallery_play.post_gallery_play-2 .post__gallery_play_content .title {
    font-size: 22px;
    line-height: 30px;
  }
}
@media (max-width: 767px) {
  .post_gallery_play.post_gallery_play-2 .post__gallery_play_content .title {
    font-size: 20px;
    line-height: 26px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .post_gallery_play.post_gallery_play-2 .post__gallery_play_content .title {
    font-size: 24px;
    line-height: 30px;
  }
}
.post_gallery_play.post_gallery_play-2 .post__gallery_play_content .post-meta {
  position: relative;
}
.post_gallery_play.post_gallery_play-2
  .post__gallery_play_content
  .post-meta::before {
  position: absolute;
  content: "";
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 18px;
  background: #1091ff;
}
.post_gallery_play.post_gallery_play_dark .bg-image {
  background-image: url("../public/assets/images/gallery-post-dark.jpg");
}
/* background-image: url(../images/gallery-post-dark.jpg); } */

.post-news-list {
  padding: 15px;
  background: #fff;
  border-radius: 7px;
}
.post-news-list .gallery_item.populer_item-style {
  margin-bottom: 16px;
}
.post-news-list .gallery_item .gallery_item_thumb {
  min-width: 75px;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .post-news-list .gallery_item .gallery_item_thumb {
    min-width: 65px;
  }
}
.post-news-list .gallery_item .gallery_item_thumb img {
  border-radius: 4px;
}

.post-meta {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
.post-meta .meta-categories a {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}
.post-meta .meta-date {
  padding-left: 32px;
  position: relative;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.post-meta .meta-date::before {
  position: absolute;
  content: "";
  left: 15px;
  top: 50%;
  transform: translateY(-50%) rotate(40deg);
  width: 2px;
  height: 15px;
  background: #fff;
  border-radius: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .post_gallery_sidebar {
    padding-top: 40px;
  }
}
@media (max-width: 767px) {
  .post_gallery_sidebar {
    padding-top: 40px;
  }
}
.post_gallery_sidebar .nav {
  justify-content: space-between;
  margin-bottom: 25px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .post_gallery_sidebar .nav {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .post_gallery_sidebar .nav {
    justify-content: center;
  }
}
.post_gallery_sidebar .nav li a {
  background: #fff;
  box-shadow: 0px 10px 40px rgba(23, 34, 43, 0.1);
  padding: 0 30px;
  line-height: 36px;
  border-radius: 0;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(23, 34, 43, 0.85);
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .post_gallery_sidebar .nav li a {
    padding: 0 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .post_gallery_sidebar .nav li a {
    margin: 0 5px;
  }
}
@media (max-width: 767px) {
  .post_gallery_sidebar .nav li a {
    margin: 0 5px;
    padding: 0 18px;
  }
}
.post_gallery_sidebar .nav li a.active {
  background: #1091ff;
}
.post_gallery_sidebar.post_gallery_sidebar_dark .nav li a {
  background: #233340;
  color: #fff;
}
.post_gallery_sidebar.post_gallery_sidebar_dark .nav li a.active {
  background: #1091ff;
}

/* ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo */
/* ======================= 
    Feature Area 
 ========================== */
.feature-post {
  position: relative;
  z-index: 10;
}
.feature-post::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(rgba(23, 34, 43, 0) 0%, #17222b 100%);
  opacity: 0.85;
  z-index: 1;
}
.feature-post .feature-post-thumb {
  overflow: hidden;
}
.feature-post .feature-post-thumb img {
  width: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.feature-post-content {
  position: absolute;
  left: 15px;
  bottom: 0px;
  z-index: 5;
  color: #fff;
}

.feature-post-content .title {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}
.feature-post-content .title a {
  color: #fff;
}
.feature-post-content .title a:hover {
  color: #1091ff;
}
.feature-post:hover .feature-post-thumb img {
  transform: scale(1.1);
}

.feature-post-slider .slick-arrow {
  position: absolute;
  top: -50px;
  z-index: 9;
  cursor: pointer;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 27px;
  border: 2px solid #c1c4c6;
  font-size: 20px;
  color: #c1c4c6;
}
.feature-post-slider .slick-arrow.prev {
  right: 45px;
}
.feature-post-slider .slick-arrow.next {
  right: 0;
} 

/* ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo */
/*   */
/* ======================= 
    Trending News Area 
 ========================== */

.trending-news-area {
  padding-top: 40px;
}
.trending-news-area .section-title {
  margin-bottom: 24px;
}

.trending-news-item .trending-news-thumb {
  overflow: hidden;
  margin-bottom: 16px;
  position: relative;
  border-radius: 8px;
}
.trending-news-item .trending-news-thumb .circle-bar {
  position: absolute;
  left: 10px;
  top: 10px;
}
.trending-news-item .trending-news-thumb .circle-bar .circle strong {
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
.trending-news-item .trending-news-thumb .icon {
  position: absolute;
  left: 10px;
  top: 10px;
}
.trending-news-item .trending-news-thumb .icon a {
  height: 30px;
  width: 30px;
  background: #ff5555;
  color: #fff;
  line-height: 30px;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  border-radius: 50%;
}
.trending-news-item .trending-news-thumb img {
  width: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.trending-news-item .trending-news-content .post-meta {
  margin-bottom: 10px;
}
.trending-news-item .trending-news-content .post-meta .meta-categories a {
  color: #1091ff;
}
.trending-news-item .trending-news-content .post-meta .meta-date {
  color: #515a60;
}
.trending-news-item .trending-news-content .post-meta .meta-date::before {
  background: #b7babd;
}
.trending-news-item .trending-news-content .title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 6px;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .trending-news-item .trending-news-content .title {
    font-size: 18px;
  }
}
.trending-news-item .trending-news-content .title a {
  color: #17222b;
}
.trending-news-item .trending-news-content .title a:hover {
  color: #1091ff;
}
.trending-news-item:hover .trending-news-thumb img {
  transform: scale(1.1);
}
.trending-news-item.trending-news-item-dark
  .trending-news-content
  .post-meta
  .meta-date {
  color: rgba(255, 255, 255, 0.75);
}
.trending-news-item.trending-news-item-dark .trending-news-content .title a {
  color: #fff;
}
.trending-news-item.trending-news-item-dark
  .trending-news-content
  .title
  a:hover {
  color: #1091ff;
}
.trending-news-item.trending-news-item-dark .trending-news-content p {
  color: rgba(255, 255, 255, 0.85);
}
.trending-news-item.trending-news-item-dark .trending-news-content > a {
  border-color: #c5c8ca !important;
  color: #fff !important;
}
.trending-news-item.trending-news-item-dark .trending-news-content > a:hover {
  border-color: #1091ff !important;
  background: #1091ff;
}
.trending-news-item.technology-item {
  background: #fff;
  margin-bottom: 40px;
  border-radius: 8px;
  overflow: hidden;
}
.trending-news-item.technology-item .trending-news-content {
  padding: 25px;
}
.trending-news-item.technology-item .trending-news-content .title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.trending-news-slider .slick-arrow {
  position: absolute;
  top: -55px;
  z-index: 9;
  cursor: pointer;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 27px;
  border: 2px solid #c1c4c6;
  font-size: 20px;
  color: #c1c4c6;
}
.trending-news-slider .slick-arrow.prev {
  right: 45px;
}
.trending-news-slider .slick-arrow.next {
  right: 0;
}

.trending-social ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .trending-social ul {
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 991px) {
  .trending-social ul {
    justify-content: flex-start;
  }
}
@media (max-width: 767px) {
  .trending-social ul {
    justify-content: flex-start;
  }
}
.trending-social ul li {
  display: inline-block;
}
.trending-social ul li a {
  display: inline-block;
  background: #3b5998;
  width: 110px;
  height: 50px;
  position: relative;
  padding-left: 40px;
  padding-top: 4px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .trending-social ul li a {
    width: 92px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .trending-social ul li a {
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  .trending-social ul li a {
    margin-right: 10px;
    width: 90px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .trending-social ul li a {
    width: 110px;
  }
}
.trending-social ul li a i {
  position: absolute;
  list-style-type: 0;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #fff;
}
.trending-social ul li a span {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  line-height: 15px;
}
.trending-social ul li a p {
  font-size: 11px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.85);
  text-transform: capitalize;
  margin-bottom: 0;
  line-height: 15px;
}
.trending-social ul li a.item-2 {
  background: #1da1f2;
}
.trending-social ul li a.item-3 {
  background: #ff5050;
}
.trending-social ul li a.item-4 {
  background: #9b45d5;
}
.trending-social ul li a.item-5 {
  background: #1ab7ea;
}
.trending-social ul li a.item-6 {
  background: #00ab6c;
}

.instagram {
  background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      transparent 50%
    ),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 60% -20%,
      #893dc2,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(
      #6559ca,
      #bc318f 30%,
      #e33f5f 50%,
      #f77638 70%,
      #fec66d 100%
    );
}
.footerInsta:hover {
  background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      transparent 50%
    ),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 60% -20%,
      #893dc2,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(
      #6559ca,
      #bc318f 30%,
      #e33f5f 50%,
      #f77638 70%,
      #fec66d 100%
    );
}

.trending-news-post-items {
  border-top: 2px dashed #dadcdd;
  padding-top: 25px;
  margin-top: 16px;
}
.trending-news-post-items.trending-news-post-items-dark {
  border-top-color: #3a434b;
}

.trending-sidebar-slider .slick-arrow {
  position: absolute;
  top: -55px;
  z-index: 9;
  cursor: pointer;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 27px;
  border: 2px solid #c1c4c6;
  font-size: 20px;
  color: #c1c4c6;
}
.trending-sidebar-slider .slick-arrow.prev {
  right: 45px;
}
.trending-sidebar-slider .slick-arrow.next {
  right: 0;
}

.trending-3-area .trending-news-3 {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 3px 6px rgba(23, 34, 43, 0.1);
  padding: 30px;
}
.trending-3-area .trending-news-3 .post_gallery_items {
  max-height: 460px;
  overflow-y: scroll;
}

.trending-news-3-item {
  border-radius: 8px;
  overflow: hidden;
}
.trending-news-3-item .trending-news-thumb {
  overflow: hidden;
  margin-bottom: 16px;
  position: relative;
}
.trending-news-3-item .trending-news-thumb .icon {
  position: absolute;
  left: 10px;
  top: 10px;
}
.trending-news-3-item .trending-news-thumb .icon a {
  height: 36px;
  width: 36px;
  background: linear-gradient(90deg, #ff5555 0%, #ab50ef 100%);
  color: #fff;
  line-height: 32px;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  border-radius: 50%;
  border: 3px solid #fff;
}
.trending-news-3-item .trending-news-thumb img {
  width: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.trending-news-3-item .trending-news-content {
  font-size: 17px;
  line-height: 27px;
}
.trending-news-3-item .trending-news-content .post-meta {
  margin-bottom: 10px;
  position: relative;
}
.trending-news-3-item .trending-news-content .post-meta .meta-categories a {
  color: #ff5555;
  font-size: 12px;
}
.trending-news-3-item .trending-news-content .post-meta .meta-date {
  color: #515a60;
  font-size: 12px;
}
.trending-news-3-item .trending-news-content .post-meta .meta-date::before {
  background: #b7babd;
}
.trending-news-3-item .trending-news-content .post-meta .share-link {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.trending-news-3-item .trending-news-content .post-meta .share-link ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.trending-news-3-item .trending-news-content .post-meta .share-link ul li {
  display: inline-block;
}
.trending-news-3-item .trending-news-content .post-meta .share-link ul li a {
  color: rgba(23, 34, 43, 0.4);
  margin-left: 10px;
}
.trending-news-3-item
  .trending-news-content
  .post-meta
  .share-link
  ul
  li
  a:hover {
  color: #ff5555;
}
.trending-news-3-item .trending-news-content .title {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 6px;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .trending-news-3-item .trending-news-content .title {
    font-size: 18px;
  }
}
.trending-news-3-item .trending-news-content .title a {
  color: #17222b;
}
.trending-news-3-item .trending-news-content .title a:hover {
  color: #ff5555;
}
.trending-news-3-item:hover .trending-news-thumb img {
  transform: scale(1.1);
}

.trending-slider-item .trending-slider-3 .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 5;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 36px;
  border-radius: 50%;
  border: 2px solid #dcdedf;
  background: #fff;
}
.trending-slider-item .trending-slider-3 .slick-arrow.prev {
  left: -5px;
}
.trending-slider-item .trending-slider-3 .slick-arrow.next {
  right: -5px;
}

.trending-image-post {
  height: auto;
  border-radius: 8px;
  position: relative;
  z-index: 10;
  overflow: hidden;
}
.trending-image-post img {
  z-index: 1;
}
@media (max-width: 767px) {
  .trending-image-post img {
    width: 100%;
  }
}
.trending-image-post::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 300px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 100%);
  z-index: 0;
}
.trending-image-post .trending-image-content {
  padding: 25px 0 8px 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 6;
}
.trending-image-post .trending-image-content .title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  padding-top: 10px;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .trending-image-post .trending-image-content .title {
    font-size: 17px;
    line-height: 22px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .trending-image-post .trending-image-content .title {
    font-size: 20px;
    line-height: 26px;
  }
}
.trending-image-post .trending-image-content .title a {
  color: #fff;
}
.trending-image-post .trending-image-content .title a:hover {
  color: #ff5555;
}
.trending-image-post .trending-image-content .post-meta .meta-categories {
  position: relative;
  padding-left: 11px;
}
.trending-image-post
  .trending-image-content
  .post-meta
  .meta-categories::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 19px;
  background: linear-gradient(180deg, #ff5555 0%, #ab50ef 100%);
}
.trending-image-post .trending-image-content .post-meta .meta-categories span {
  font-size: 15px;
}
.trending-image-post .trending-image-content .post-meta .meta-date::before {
  transform: translateY(-50%) rotate(0deg);
}
.trending-image-post.feature-item .trending-image-content .title {
  font-size: 20px;
  line-height: 26px;
}

.trending-image-slide .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 5;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 36px;
  border-radius: 50%;
  border: 2px solid #dcdedf;
  background: #fff;
  font-size: 24px;
}
.trending-image-slide .slick-arrow.prev {
  left: -20px;
}
.trending-image-slide .slick-arrow.next {
  right: -20px;
}

.trending-business-post {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 3px 6px rgba(23, 34, 43, 0.1);
  padding: 15px 15px 1px;
}
.trending-business-post .trending-business-items .populer_item-style {
  position: relative;
  border-bottom: 1px solid #e7e8e9;
  padding-bottom: 12px;
  margin-bottom: 12px;
}
.trending-business-post
  .trending-business-items
  .populer_item-style
  .gallery_item_thumb {
  min-width: 75px;
}
.trending-business-post
  .trending-business-items
  .populer_item-style
  .gallery_item_content
  .title
  a:hover {
  color: #ff5555;
}
.trending-business-post
  .trending-business-items
  .populer_item-style:last-child {
  padding-bottom: 1;
  margin-bottom: 0;
  border-bottom: 0;
}
/*
.trendingNewsCarousel{
   width: 400px;
  margin-right: 10px; 
}  
*/


/* ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo */

/* Play Post Area */

/* .playPost{
  position: relative;
} */
/* .playPost{
  background-color: black;
  margin-left: 3%;
  margin-right: 10%;
} */
/* .playPost > img{
  margin-left: auto;
  margin-right: auto;
} */

@media only screen and (min-width: 320px) and (max-width: 640px){
  .mySwiper{
    width:350px;
    height: 250px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 768px){
  .mySwiper{
    width:500px;
    /* height: 400px; */
  }
  /* .description{
    display: none;
  } */
}



/* ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo */
/* Video News Area */
/* ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo */
.video-news-area {
  height: 765px;
  background: #17222b;
  margin-top: -263px;
  padding-top: 420px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .video-news-area {
    height: auto;
    margin-top: 0;
    padding-top: 167px;
  }
}
@media (max-width: 767px) {
  .video-news-area {
    height: auto;
    margin-top: 0;
    padding-top: 167px;
  }
}
.video-news-area.video-news-dark {
  background: #233340;
}
.video-news-area.video-news-dark
  .trending-sidebar-slider
  .populer-post-slider.populer-post-slider-dark
  .gallery_item_dark
  .gallery_item_content
  > span {
  font-weight: 400;
  color: #a2a6aa;
}

.video-news-box {
  padding: 30px;
  background: #fcfcfc;
  margin: 0 30px;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .video-news-box {
    margin: 0 0px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .video-news-box {
    margin: 0 0px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .video-news-box {
    margin: 0 0px;
  }
}
@media (max-width: 767px) {
  .video-news-box {
    padding: 0;
    margin: 0 0;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .video-news-box {
    padding: 30px;
  }
}
.video-news-box.video-news-box-dark {
  background: #17222b;
}

.video-news-post {
  margin-top: -145px;
}

.video-news-post-item {
  background: #e9eaeb;
}
.video-news-post-item .video-news-post-thumb {
  position: relative;
}
.video-news-post-item .video-news-post-thumb .play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
}
.video-news-post-item .video-news-post-thumb .play-btn a {
  color: #ff5555;
}
.video-news-post-item .video-news-post-thumb img {
  width: 100%;
}
.video-news-post-item .video-news-post-content {
  padding: 23px 30px 26px;
}
@media (max-width: 767px) {
  .video-news-post-item .video-news-post-content {
    padding: 20px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .video-news-post-item .video-news-post-content {
    padding: 23px 30px 26px;
  }
}
.video-news-post-item .video-news-post-content .post-meta .meta-categories a {
  color: #1091ff;
}
.video-news-post-item .video-news-post-content .post-meta .meta-date {
  color: #17222b;
}
.video-news-post-item .video-news-post-content .post-meta .meta-date::before {
  background: #17222b;
}
.video-news-post-item .video-news-post-content .title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 0;
  margin-top: 9px;
}
.video-news-post-item .video-news-post-content .title a {
  color: #17222b;
}
.video-news-post-item .video-news-post-content .title a:hover {
  color: #1091ff;
}
.video-news-post-item.video-news-post-item-dark {
  background: #1c2a35;
}
.video-news-post-item.video-news-post-item-dark
  .video-news-post-content
  .title
  a {
  color: #fff;
}
.video-news-post-item.video-news-post-item-dark
  .video-news-post-content
  .title
  a:hover {
  color: #ff5555;
}
.video-news-post-item.video-news-post-item-dark
  .video-news-post-content
  .post-meta
  .meta-date {
  color: #fff;
}
.video-news-post-item.video-news-post-item-dark
  .video-news-post-content
  .post-meta
  .meta-date::before {
  background: #fff;
}

.video-style-post-2-area .video-style-box {
  background: #fff;
  border-radius: 7px;
  padding: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .video-play-item {
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .video-play-item {
    margin-bottom: 40px;
  }
}
.video-play-item .video-play-thumb {
  border-radius: 7px;
  overflow: hidden;
  position: relative;
  margin-bottom: 28px;
  z-index: 10;
}
.video-play-item .video-play-thumb::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  content: "";
  background: linear-gradient(rgba(23, 34, 43, 0) 0%, #17222b 100%);
  opacity: 0.85;
  z-index: -1;
}
.video-play-item .video-play-thumb::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 220px;
  height: 195px;
  content: "";
  background: linear-gradient(rgba(23, 34, 43, 0) 0%, #17222b 100%);
  opacity: 0.85;
  transform: rotate(180deg);
  z-index: -1;
}
.video-play-item .video-play-thumb .play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.video-play-item .video-play-thumb .play-btn a {
  font-size: 60px;
  color: #ff5555;
}
.video-play-item .video-play-thumb .share-item {
  position: absolute;
  right: 20px;
  top: 20px;
}
.video-play-item .video-play-thumb .share-item ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.video-play-item .video-play-thumb .share-item ul li {
  display: inline-block;
}
.video-play-item .video-play-thumb .share-item ul li a {
  color: #fff;
  font-size: 18px;
  margin-left: 18px;
}
.video-play-item .video-play-thumb .share-item ul li a:hover {
  color: #1091ff;
}
.video-play-item .video-play-thumb .post-meta {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
@media (max-width: 767px) {
  .video-play-item .video-play-thumb .post-meta {
    display: none;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .video-play-item .video-play-thumb .post-meta {
    display: block;
  }
}
.video-play-item .video-play-thumb img {
  width: 100%;
  position: relative;
  z-index: -2;
}
.video-play-item .video-play-content .title {
  font-size: 24px;
  line-height: 30px;
}
@media (max-width: 767px) {
  .video-play-item .video-play-content .title {
    font-size: 18px;
    line-height: 25px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .video-play-item .video-play-content .title {
    font-size: 22px;
    line-height: 28px;
  }
}
.video-play-item .video-play-content ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.video-play-item .video-play-content ul li {
  display: inline-block;
}
.video-play-item .video-play-content ul li a {
  padding-right: 12px;
  margin-right: 12px;
  position: relative;
  font-size: 12px;
  font-weight: 500;
  color: rgba(23, 34, 43, 0.6);
}
.video-play-item .video-play-content ul li a::before {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 11px;
  background: #b9bcbf;
}
.video-play-item .video-play-content ul li a i {
  color: #70bdff;
  padding-right: 6px;
}
.video-play-item .video-play-content ul li:last-child a {
  padding-right: 0;
  margin-right: 0;
}
.video-play-item .video-play-content ul li:last-child a::before {
  display: none;
}

.post-style-tab-post {
  background: #fff;
  border-radius: 7px;
  overflow: hidden;
}
.post-style-tab-post .tab-btn ul {
  justify-content: center;
  flex-wrap: nowrap;
  box-shadow: 0px 15px 60px rgba(23, 34, 43, 0.15);
}
.post-style-tab-post .tab-btn ul li a {
  background: #fff;
  padding: 0 24px;
  display: inline-block;
  line-height: 45px;
  border-radius: 0;
  font-size: 12px;
  font-weight: 500;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .post-style-tab-post .tab-btn ul li a {
    padding: 0 16px;
    font-size: 10px;
  }
}
.post-style-tab-post .tab-pane {
  padding: 20px 15px 15px;
}
.post-style-tab-post .tab-pane .most-view-style-2 {
  margin-top: 0;
  margin-bottom: 23px;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .post-style-tab-post .tab-pane .most-view-style-2 {
    margin-bottom: 15px;
  }
}
.post-style-tab-post .tab-pane .most-view-style-2:last-child {
  margin-bottom: 0;
}
.post-style-tab-post .tab-pane .most-view-style-2 .meta-post-categores a {
  color: rgba(23, 34, 43, 0.6);
}

.opinion-post {
  background: #fff;
  padding: 25px 25px 30px;
  border-radius: 7px;
  overflow: hidden;
}

.opinion-post-item .opinion-post-thumb {
  border-radius: 7px;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}
.opinion-post-item .opinion-post-thumb img {
  width: 100%;
  transition: all linear 0.3s;
}
.opinion-post-item .opinion-post-thumb .circle {
  position: absolute;
  left: 10px;
  top: 10px;
}
.opinion-post-item .opinion-post-thumb .circle strong {
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
.opinion-post-item .opinion-post-content {
  line-height: 28px;
}
.opinion-post-item .opinion-post-content .title {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
}
.opinion-post-item .opinion-post-content .meta-post-2-style::before {
  left: -25px;
}
.opinion-post-item:hover .opinion-post-thumb img {
  transform: scale(1.1);
}

@media only screen and (min-width: 991px) and (max-width: 1024px) {
  .entertainmentArea{
    margin-top: 50rem;
  }
}

@media only screen and (min-width: 1024px) and (max-width:1080px){
  .entertainmentArea{
    margin-top: 30rem;
  }
}

@media only screen and (min-width: 1081px) and (max-width:1330px){
  .entertainmentArea{
    margin-top: 30rem;
  }
}

@media only screen and (min-width: 1331px){
  .entertainmentArea{
    margin-top: 27rem;
  }
}

@media only screen and (min-width: 991px) and (max-width:1024px){
  .Categories-post{
    margin-top: 27rem;
  }
}

 
/* =================================================================================== */
/* =================================================================================== */
/* Categories homepage tiles Styling */
/* =================================================================================== */

.Categories-post .section-title {
  padding-bottom: 5px;
}
.Categories-post .Categories-item .item {
  position: relative;
  margin-bottom: 15px;
}
.Categories-post .Categories-item .item > img {
  width: 100%;
}
.Categories-post .Categories-item .item::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #17222b;
  opacity: 0.6;
}
.Categories-post .Categories-item .item .Categories-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
}
.Categories-post .Categories-item .item .Categories-content a {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
}
.Categories-post .Categories-item .item .Categories-content a span {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 460px) {
  .Categories-post .Categories-item .item .Categories-content a span {
    font-size: 20px;
    line-height: 26px;
  }
}

.Categories-post .Categories-item .item .Categories-content a:hover span {
  color: #1091ff;
}

.sidebar-add a {
  display: block;
}
.sidebar-add a img {
  width: 100%;
}



/* Image overlay settings */
.feature-post .featureSingleImage::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 300px;
  width: 100%;
  background: linear-gradient(rgba(23, 34, 43, 0) 0%, #17222b 100%);
  opacity: 0.85;
}

/* Trending News Carousel Image Overlay */
.postPlay .postPlayCarousel::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 300px;
  width: 100%;
  background: linear-gradient(rgba(23, 34, 43, 0) 0%, #17222b 100%);
  opacity: 0.85;
}

/* Slider Navigation CSS */

.smallSlider{
  margin: 0 auto;
}

.smallSlider img{
  max-width: 100%;
  height: auto;
  /* padding-left: 13px;
  padding-right: 13px; */
  margin: 0 auto;
}
.smallSlider p{
  max-width:100%;
  /* border: 2px solid red; */
  /* margin: 0 auto; */
  padding: 3px 15px;
  /* font-size: 11px; */

}

/* Swiper Navigation Position Styling */

.swiper-button-next {
  background-image: url("../public/assets/images/ArrowRight.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
}
.swiper-button-prev {
  background-image: url("../public/assets/images/ArrowLeft.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-prev::after {
  display: none;
}

/* Swiper Positioning styles */

.swiper-button-next, .swiper-rtl .swiper-button-prev {
  left: auto;
  right: -6px !important;
  top: 56px;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: -6px !important;
  right: auto;
  top: 56px;
}

.swiper-button-next:hover{
  background-color: #1091ff;
  color: white;
}
.swiper-button-prev:hover{
  background-color: #1091ff;
  color: white;
}




@media only screen  and (min-width: 200px) and (max-width: 640px) {
  .swiper-button-next, .swiper-button-prev{
   display: none !important;
}

}

/* ================================================================================== */
  /* Feature news area slider settings */
/* ================================================================================== */

/* .featureImageFix{
  backdrop-filter: url(filters.svg#filter) blur(4px) saturate(150%);
} */


@media only screen and (min-width: 280px) and (max-width: 470px) {
  .featureImageFix{
    margin: 0 auto;
  }
}

@media only screen and (min-width: 350px) and (max-width: 503px) {
  .featureImageFix{
    margin: 0 35px;
  }
  .titleFix{
    margin: 0 45px
  }
}


@media only screen and (min-width: 280px) and (max-width: 503px) {
  .TrendingImageFix{
    width: 320px;
    height: 280px;
  }
}