/* box-sizing: border-box;
div {
  display: block;
} */

.body {
  color: #262626;
  font-family: "TiemposTextWeb-Regular", Georgia, serif;
}

/* section {
  width: 1160px;
  height: 40px;
} */

@keyframes ticker-tape-scrolling {
  0% {
    left: 0
  }
  100% {
    left: -50%
  }
}

.tickerTape {
    background-color: black;
  /* background: linear-gradient(to right, #FB8B1E, #2B00F7); */
  height: 2.5rem; 
}

.tickerTapeTitle {
  float: left;
  white-space: nowrap;
  line-height: 2.5rem;
  padding: 0 1.25rem;
  font-family: "NHaasGroteskDSPro-75Bd", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  color: #fff;
  display: flex;
  align-items: center;
}

.tickerTape .tickerTapeScroll {
  overflow: hidden;
  white-space: nowrap;
}

.tickerTape .tickerTapeCollection {
  display: table-cell;
  position: relative;
  animation: ticker-tape-scrolling 29.2s linear infinite running;
}
.tickerTape .tickerTapeCollection:hover {
  animation-play-state: paused; 
}

.tickerTape .tickerTapeStory {
  display: inline-block;
  vertical-align: top;
  line-height: 2.5rem;
}

.tickerTape .tickerTapeStory:after {
  overflow: hidden;
  text-indent: -9999rem;
  font-size: 0;
  line-height: 0;
  content: "line after";
  display: inline-block;
  height: 1.875rem;
  margin-bottom: 0.1875rem;
  border-right: 1px solid rgba(255, 255, 255, 0.35);
  vertical-align: middle;
}
/* a {
  text-decoration: none;
  outline: 0;
} */

.tickerTape .tickerTapeLink {
  display: inline-block;
  padding: 0 1.25rem;
  color: rgba(255, 255, 255, 0.7)
}

.tickerTape .tickerTapeLink:hover {
  color: #fff;
}

.tickerTapeStory span {
  padding-right: 0.3125rem;
  font-family: "NHaasGroteskDSPro-75Bd", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
}

@media only screen and (min-width: 280px) and (max-width:639px) {
    .tickerTapeTitle {
        padding: 10px;

      /* line-height: 26px; */
    }
    /* .tickerTapeTitle>span{
        display: none;
    } */
  }